<p>Vous avez reçu une nouvelle demande de partenariat de {{ partenaire.nom }}.</p>
<p>Région: {{ partenaire.region }}</p>
<p>Courriel: {{ partenaire.courriel }}</p>
<p>Téléphone: {{ partenaire.telephone }}</p>
<p>Message: {{ partenaire.description }}</p>
