{% extends ':admin:layout.html.twig' %}

{% block title %}Messages reçus{% endblock %}

{% block content %}
    <table class="table">

        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Courriel</th>
            <th>Téléphone</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.nom }}</td>
                <td>{{ message.prenom }}</td>
                <td>{{ message.courriel }}</td>
                <td>{{ message.telephone }}</td>
                <td><a href="{{ path('viweb_base_admin_message', { 'message_id': message.id }) }}">Afficher</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
