{% extends ':admin:layout.html.twig' %}

{% block title %}Messages reçus{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-6">
            <label>Prénom</label>
            <p>{{ message.prenom }}</p>
        </div>

        <div class="col-6">
            <label>Nom</label>
            <p>{{ message.nom }}</p>
        </div>

        <div class="col-6">
            <label>Courriel</label>
            <p>{{ message.courriel }}</p>
        </div>

        <div class="col-6">
            <label>Téléphone</label>
            <p>{{ message.telephone }}</p>
        </div>

        <div class="col-12">
            <label>Message</label>
            <p>{{ message.message }}</p>
        </div>
    </div>

{% endblock %}
