{% extends '::layout.html.twig' %}

{% block title %}La deMOIs’aile - Laisse vivre la blogueuse en toi!{% endblock %}

{% block metaDescription %}Plateforme de blog, regroupant différentes écoles secondaires du Québec, permettant aux adolescentes de 12-17 ans, de vivre l’expérience « blogueuse ».{% endblock %}

{% block seo %}
        <!-- Open Graph data  de base -->       
        <meta property="fb:app_id" content="326654584432657" /> 
        <meta property="og:url" content="https://lademoisaile.ca/"/>
        <meta property="og:title" content="La deMOIs’aile - Laisse vivre la blogueuse en toi!"/>
        <meta property="og:description" content="Plateforme de blog, regroupant différentes écoles secondaires du Québec, permettant aux adolescentes de 12-17 ans, de vivre l’expérience « blogueuse »."/>

        <meta property="og:type" content="website"/>

        <meta property="og:locale" content="fr_CA"/>

        <meta property="og:site_name" content="La deMOIs’aile"/>
        <!-- Open Graph Image -->
        <meta property="og:image"
              content="https://lademoisaile.ca/assets/css/images/lademoisaile.png"/>

       
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106749073-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-106749073-1');
</script>

    {% endblock %}

{% block content %}
{% set dev = app.request.query.get("dev") %}

<div class="container" style="padding-top:55px;">
        <div class="row">
            <div class="col-12"><iframe width="100%" height="700px" src="https://www.youtube.com/embed/mwjWMPBKpIw" title="YouTube video player" frameborder="0" allowfullscreen></iframe></div>
        </div>
</div>        
<div class="wrap-txt-home" style="margin: 45px 0 55px;">
    
    <div class="container">
        <div class="row  justify-content-md-center">
            <div class="col-12 col-md-8" style="font-family: 'Glass Antiqua', cursive;">
              <h2 style="font-size: 2.8rem; text-transform: none;">Laisse vivre la <br><span class="rose">blogueuse</span> en toi!</h2>
              <p style="font-size: 1.4rem;">Le projet <span class="rose">« La deMOIs’aile »</span>, c’est une plateforme de blog, regroupant
                  différentes écoles secondaires du Québec, permettant aux adolescentes
               de 12-17 ans, de vivre l’expérience « blogueuse ».</p>
            </div>
        </div>
    </div>
</div>            
              

    
    <section class="text_exp">
                    <h4>
                        Vous voulez faire vivre l’expérience « <span>La deMOIs’aile</span> » à votre école ?<br>
                        Nous vous invitons à vous inscrire dès maintenant. 
                    </h4>
                    <a href="{{ path('viweb_soumission_new') }}" class="btn btn-primary">J'inscris mon école</a>
    </section>

    <section class="sect_vid">        
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="bloc_svframe">
                        <div class="ttooltip">La fois où on a tenté de me couper les ailes…</div>
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/oG0QOGyXbG8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>    
                </div>
                <div class="col-md-4">
                    <div class="bloc_svframe">
                        <div class="ttooltip">En réponse à l'article "Cher Premier Ministre" de la blogueuse Laurie Bissonnette.</div>
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/AWMEBG9tsVc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>     
                </div>
                <div class="col-md-4">
                    <div class="bloc_svframe">
                        <div class="ttooltip">La deMOIs'aile Renouvelée "TEASER"</div>
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/7Hb2QoDJtzU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>    
                </div>
                <div class="col-12">
                    <div class="bloc_capv">
                        <img src="{{ asset('assets/scss/images/motif5.png') }}" alt="">
                        <h2>Web Série</h2>
                        <div class="row justify-content-md-center">
                            
                            <div class="col-md-4">
                                <div class="bloc_svframe">
                                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/uP5mFDnNw5I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>    
                            </div>
                            
                            <div class="col-md-4">
                                <div class="bloc_svframe">
                                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/Yu0By7g1Y1M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>    
                            </div>
                            
                            <div class="col-md-4">
                                <div class="bloc_svframe">
                                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/n51qCBlTtcs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>    
                            </div>
                        </div> 
                        <br/><br/>
                    </div>
                </div>
            </div>    
        </div>    
    </section>
    

    <ul class="wrap-jjjj">
    
        <li class="large jecris">
             <img src="{{ asset('assets/scss/images/groupe-bandeau-1.jpg') }}" alt="J'écris" class="fleur-droite">
            <p>J'écris</p>
        </li>
         <li class="small jassume">
             <img src="{{ asset('assets/scss/images/jassume-bandeau-2.jpg') }}" alt="J'assume" class="fleur-droite">
            <p>J'assume</p>
        </li>
        <li class="small javance">
             <img src="{{ asset('assets/scss/images/javance-bandeau-3.jpg') }}" alt="J'avance" class="fleur-droite">
            <p>J'avance</p>
        </li>
         <li class="large jesuis">
             <img src="{{ asset('assets/scss/images/je-suis-bandeau-4.jpg') }}" alt="Je suis" class="fleur-droite">
            <p>Je suis</p>
        </li>
</ul>
    

<div class="wrap-articles">    
    <div class="container">    
        <div class="row titre">                
            <div class="col-sm-12 text-center">
                <img src="{{ asset('assets/scss/images/fleur-derniers-articles-droite-la-demoisaile.png') }}" alt="Les derniers articles De nos blogueuses" class="fleur-art">
                <h3><span>Les derniers articles</span></h3>
                <h4>De nos blogueuses</h4>
            </div>
        </div>
    </div>      
    <div class="container">    
        <div class="row">            
           {% for article in articles %}                        
                {{ include('@ViwebArticle/Article/appercu.html.twig') }}                                            
           {% endfor %}
        </div>
    </div>
</div>

<section class="text_exp">
    <h4>
        Consultez la liste des écoles secondaires inscrites,<br/>découvrez les blogueuses participantes et leurs textes 
    </h4>
    <a href="https://lademoisaile.ca/ecoles-participantes" class="btn btn-primary">Trouvez une école</a>
</section>    


<div class="wrap-merci">
    
    <div class="merci"><span>Merci</span> à nos blogueuses !</div>

</div>
<div class="wrap-logo">
    <div class="container">
        
         <div class="row">
            <div class="col-sm-12">
        
                <h4 class="h4_command">
                    Merci à tous ceux qui ont permis à La deMOIs'aile de prendre son envol !
                </h4>
             </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-1" class="carousel carousel-by-item slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">            
                            <div class="row logo_part">
                                <div class="col-sm-3 col-6">
                                    <a href="https://viweb.ca" target="_blank">
                                        <img src="{{ asset('assets/scss/images/logo-partenaires/viweb.png') }}" alt="Viweb" class="logo-partenaire">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <a href="http://www.photocopiesillico.com/" target="_blank">
                                        <img src="{{ asset('assets/scss/images/logo-partenaires/ILLICOsainte-adele.jpg') }}" alt="Photocopies Sainte-Adèle" class="logo-partenaire">
                                    </a>
                                </div>                  
                                <div class="col-sm-3 col-6">
                                    <a href="https://moime.ca/" target="_blank">
                                        <img src="{{ asset('assets/scss/images/logo-partenaires/moime-nv-logo.png') }}" alt="Moi & Me" class="logo-partenaire">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <a href="http://www.linformationdunordmonttremblant.ca/" target="_blank">
                                        <img src="{{ asset('assets/scss/images/logo-partenaires/partnaires.png') }}" alt="L'information du Nord" class="logo-partenaire">
                                    </a>
                                </div>
                            </div>
                        </div>    
                        <div class="carousel-item">    
                            <div class="row logo_part">                    
                                <div class="col-sm-3 col-6">
                                    <a href="https://www.journalacces.ca/" target="_blank">
                                        <img src="{{ asset('assets/scss/images/logo-partenaires/logo-acces.jpg') }}" alt="Accès" class="logo-partenaire">
                                    </a>
                                </div>                  
                                <div class="col-sm-3 col-6">
                                    <a href="https://www.journalacces.ca/" target="_blank">
                                        <img src="{{ absolute_url(asset('/assets/scss/images/')) }}quebec.jpg" alt="Québec" class="logo-partenaire">
                                    </a>
                                </div>             
                                <div class="col-sm-3 col-6">
                                    <a href="https://www.journallenord.com/" target="_blank">
                                        <img src="{{ absolute_url(asset('/assets/scss/images/logo-partenaires/logo-nord.png')) }}" alt="journal Le Nord" class="logo-partenaire">
                                    </a>
                                </div>           
                                <div class="col-sm-3 col-6">
                                    <a href="https://www.journallenord.com/" target="_blank">
                                        <img src="{{ absolute_url(asset('/assets/scss/images/logo-partenaires/iga.jpg')) }}" alt="IGA" class="logo-partenaire">
                                    </a>
                                </div>
                            </div>    
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    
                    <div class="commanditaire text-center">
                        <a href="{{ path('viweb_base_contact')}}" class="btn btn-primary" style="color:white;">J'aimerais commanditer <br/>La deMOIs'aile</a>
                    </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalInfoletter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="corps_popup">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="text_h2">Oui, je veux m’inscrire à l’infolettre de</div>
            <div class="text_h1">&nbsp;La deMOIs’aile</div>
            <div class="tnp tnp-subscription-minimal ">
                <form action="https://lademoisaile.us18.list-manage.com/subscribe/post?u=5401db14a70ddfd108a726c8c&amp;id=0c8d2eb40d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                
                  <input type="email" value="" name="EMAIL" class="tnp-email" id="mce-EMAIL" placeholder="Inscrire votre courriel ici" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5401db14a70ddfd108a726c8c_0c8d2eb40d" tabindex="-1" value=""></div>
                  <input type="submit" value="OK" name="subscribe" id="mc-embedded-subscribe" class="tnp-submit">
                  </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
{#
<div class="modal fade" id="modalreseau" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="corps_popup">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <br/><br/>
            <img src="/web/assets/scss/images/logo-lademoisaile.png" alt="">
            <div class="tnp tnp-subscription-minimal ">
                <br/><br/>
                <div style=" text-align: center;">
                    <a href="https://www.facebook.com/lademoisaile/" target="_blank" style="color: #FFF; list-style: none;">Suivez-nous sur Facebook <i class="fa fa-facebook-square" style="font-size:25px; margin-left:12px;" aria-hidden="true"></i></a><br><br>
                    <a href="https://www.instagram.com/lademoisaile/" target="_blank" style="color: #FFF; list-style: none;">Suivez-nous sur Instagram <i class="fa fa-instagram" style="font-size:25px; margin-left:12px;" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
#}
<div class="blocmailchim"></div>
{% endblock %}
