<div id="header_site" class="header_site">
  <div class="like_face">     
   <div class="container">     
       <div class="row">
           <div class="col-12">
              <div class="lf_left">
                Aimez notre page
                <div class="fb-like" data-href="https://www.facebook.com/lademoisaile/" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>                
              </div>                    
              <div class="lf_right">
                <span class="link_yout">Suivez nous sur <a href="https://www.youtube.com/channel/UCCCyrOefuDQAUuws38OwDEQ?sub_confirmation=1" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></span> 
              </div>
              <ul class="social">
                  <li><a href="https://www.facebook.com/lademoisaile/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.instagram.com/lademoisaile" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>  
       </div>
   </div>
  </div>

  {% block navbar %}
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="left_nav">
            <div class="link_apro">
              <a href="javascript:void(0);">À propos</a>
              <ul class="submenu_apr">
                <li><a href="{{ path('site_page', {'page_slug': 'qui-est-la-demoisaile'}) }}">Qui sommes-nous</a></li>
                <li><a href="{{ path('viweb_media_homepage') }}">On parle de nous</a></li>
              </ul>
            </div>
            <span>|</span>
            {#<a href="{{ path('viweb_temoignage_homepage') }}">Témoignage</a> <span>|</span>#}
            <a href="{{ path('site_contact') }}">Contact</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="navbar_bloc">
            <a class="navbar-brand" href="{{ path('site_homepage') }}" title="LaDemMois'aile">
                <img src="{{ asset('assets/scss/images/logo-lademoisaile.png') }}" >
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="button_boutique"><a  href="https://boutique.lademoisaile.ca/">Boutique en ligne</a></div>
        </div>  

        <div class="col-12">
          <div class="search_bloc">  
            <script async src="https://cse.google.com/cse.js?cx=006937059085235617015:nejfl1zlpbv"></script>
            <div class="gcse-searchbox-only" data-resultsUrl="{{ path('site_search') }}"></div>
          </div>      
        </div>
        <div class="col-12">
          


          <div class="collapse navbar-collapse" id="navbarCollapse">


            <ul class="navbar-nav mr-auto">

              <li class="nav-item toogle_submenu">
                <a class="nav-link uneligne" href="{{ path('site_ecole_participantes')}}">Les écoles</a>
                <ul class="submenu_ecole">
                  <li><a href="{{ path('site_ecole_participantes')}}">Toutes</a></li>
                  <li><a href="{{ path('site_ecole_single', {'slug': 'cure-mercure'}) }}">Curé-Mercure</a></li>
                  <li><a href="{{ path('site_ecole_single', {'slug': 'augustin-norbert-morin'}) }}">Augustin-Norbert Morin</a></li>
                  <li><a href="{{ path('site_ecole_single', {'slug': 'la-polyvalente-des-monts'}) }}">La Polyvalente des Monts</a></li>
                  <li><a href="{{ path('site_ecole_single', {'slug': 'ecole-secondaire-de-mirabel'}) }}">École secondaire de Mirabel</a></li>
                  <li><a href="{{ path('site_ecole_single', {'slug': 'ecole-secondaire-poly-jeunesse'}) }}">École secondaire Poly-Jeunesse</a></li>
                  <li><a href="{{ path('site_ecole_single', {'slug': 'liberte-jeunesse'}) }}">École Secondaire Liberté Jeunesse</a></li>
                  <li><a href="{{ path('site_ecole_single', {'slug': 'emilien-frenette-1-cycle'}) }}">Émilien-Frenette 1er cycle</a></li>
                  <li><a href="{{ path('site_ecole_single', {'slug': 'emilien-frenette-2-cycle'}) }}">Émilien-Frenette 2e cycle</a></li>
                  <li><a href="{{ path('site_ecole_single', {'slug': 'ecole-secondaire-de-gracefield'}) }}">École secondaire de Gracefield</a></li>
                  <li><a href="{{ path('site_ecole_single', {'slug': 'ecole-secondaire-des-trois-saisons'}) }}">École secondaire des Trois-Saisons</a></li>
                </ul>  
              </li>
              <li class="nav-item">
                <a class="nav-link uneligne" href="{{ path('viweb_soumission_new') }}">Inscription</a>
              </li>
              <li class="nav-item">
                <a class="nav-link uneligne" href="{{ path('site_categories') }}">Catégories  </a>
              </li>
              <li class="nav-item link_apro">
                <a class="nav-link uneligne" href="javascript:void(0);">Vidéos</a>
                <ul class="submenu_apr">
                  <li><a href="{{ path('site_page', {'page_slug': 'capsule-video'}) }}">Capsules vidéo</a></li>
                  <li><a href="{{ path('site_page', {'page_slug': 'wserie'}) }}">Web série</a></li>
                  <li><a href="{{ path('site_liste_articles_journeefemme') }}">Journée de la femme</a></li>
                  
                  {#<li><a href="{{ path('site_page', {'page_slug': 'bookzine'}) }}">Bookzine</a></li>#}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link uneligne btn btn-primary" href="{{ path('site_liste_articles') }}">Articles</a>
              </li>
            </ul>
              


          </div>
        </div>

      </div>
    </div>
  </nav>      
          
        
  {% endblock %}
</div>