{% extends ':admin:layout.html.twig' %}

{% block title %}Messages reçus{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">Cayer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('site_contact') }}">Accueil</a>
                </li>
                {{ render(controller('SiteBundle:Default:navPages')) }}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <table class="table">

        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Courriel</th>
            <th>Téléphone</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.nom }}</td>
                <td>{{ message.prenom }}</td>
                <td>{{ message.courriel }}</td>
                <td>{{ message.telephone }}</td>
                <td><a href="{{ path('site_admin_message', { 'message_id': message.id }) }}">Afficher</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
