{% extends '::layout.html.twig' %}

{% block title %}Derniers articles {{ categorie.nom }} {% endblock %}
{% block metaDescription %}La deMOIs’aile : Les derniers articles de la catégorie {{ categorie.nom }} des blogueuses {% endblock %}


{% block content %}




<span class="ligne-deco"></span>

<div class="wrap-ecole-bienvenue">
    
      <div class="container">
        
        <div class="row">
            
            
            
            <div class="col-sm-12 text-center">
              <br/><br/><br/><br/>
                <h1 class="pink" style="font-size: 3rem; color: #ed3c6f !important;">{% if categorie.id == 1 %}LadeMOIs'aile en confinement | Covid 19{% else %}{{ categorie.nom}}{% endif %}</h1>
                <p><span class="pink">J'écris</span> - J'assume - <span class="pink">J'avance</span> - Je suis</p>
             </div>
          </div>
    </div>
</div>

<span class="ligne-deco"></span>

    <div class="container">
        
        <div class="row">
            
            <div class="col-sm-12">
                
                
                
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">
                        
                        
                        <div class="breadcrump">
                            
                                 <a href="#">Accueil</a> | <span class="pink">{{ categorie.nom}}</span></div>
                            <div>
                              <br/>
                              {% if categorie.id == 1 %}
                              <p>
                                « Bienvenue dans l’univers du confinement des blogueuses La deMOIs’aile!
                                <br/><br/>
                                Nous avons lancé l’occasion à toutes les blogueuses participant au projet cette année la possibilité de s’inspirer et créer un article, sur la crise que le monde entier vit présentement.
                                <br/><br/>
                                Nous sommes convaincus que leurs richesses de cœur peuvent faire du bien à l’humanité.
                                <br/><br/>
                                #çavabienaller »
                              </p>
                              <div style="text-align: center; margin-top: 60px"><iframe width="560" height="315" src="https://www.youtube.com/embed/pL2xiEGZwBU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              </div>
                            {% endif %}
                            </div>
  			
                            <h3 class="articles-recents">Les plus récents articles</h3>
                        
                        <div class="row article-ecole">

                        {% for article in articles %}
                        
                          {{ include('@ViwebArticle/Article/appercu.html.twig') }}
											
                        {% endfor %}
                            
                        </div>
                            
                        
                        
                    </main><!-- #main -->
                </div><!-- #primary -->
            
            </div>
            
            
        
        </div>

    </div>
	

 
{% endblock %}

